*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 3px;
        height: 450px;
      }
      &::-webkit-scrollbar-thumb {
        background: #fff;
      }
      &::-webkit-scrollbar-track {
        background: #414748;
      }
}

body{
    position: relative;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 140%;
    color: $text-main;
    background-color: $bg-grey;
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 130%;
}
h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
}
h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
}
h4{
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
}
h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
    &--thin{
        max-width: 802px;
    }
}

.section{
    margin-bottom: 120px;
}

@mixin header-hover-link{
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 110%;
      height: 1px;
      border-radius: 1px;
      background-color:  #00D7FF;
      bottom: 0;
      left: 0;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    &:hover::before {
      transform: scaleX(1);
    }
}

@mixin hover-link{
    transition: color .3s ease-in-out;
    &:hover{
       color: #00D7FF
    }
}

@mixin btn-hover{
    transition: color,background-color .3s ease-in-out;
    &:hover{
        color: #FFF;
        background-color: $btn-blue-dark;
    }
    &:active{
        background-color: #003FBA;
    }
}

.try-btn{
    font-family: 'DM Sans';
    color: $text-grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 100px;
    white-space: nowrap;
    @include btn-hover;
}

.lang-group{
    &__dropdown-btn{
        position: relative;
        display: block;
        color: #F2F2F2;
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        padding-right: 24px;
        &::after{
            content: url(./../img/down-arrow.svg);
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
            right: 0;
            pointer-events: none;
            transition: all .3s;
            transform-origin: center;
        }
    }
}

.lang-group__dropdown-btn{
    text-transform: uppercase;
}

.lang-group__dropdown-btn.active.lang-group__dropdown-btn::after{
    top: 25%;
    transform: translateY(-45%) rotate(180deg);
}

.lang-group__dropdown{
    position: relative;
}

.lang-dropdown__list{
    display: none;
    position: absolute;
    top: 35px;
    background-color: #40484C;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    width: 120px;
    z-index: 2;
    &-item{
        cursor: pointer;
        transition: all .2s ease-in-out;
        padding: 6px 0 6px 8px;
        color: #F2F2F2;
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        &:hover{
            background: rgba(0, 215, 255, 0.10);
        }
    }
    &--visible{
        display: block;
    }
}

.lang-dropdown__input-hidden{
    display: none;
}

.secelt-group__dropdown{
    position: relative;
}

.select-group{
    &__dropdown-btn{
        position: relative;
        display: block;
        white-space: nowrap;
        color: #AFAFAF;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        border-radius: 100px;
        border: 1px solid #FFF;
        padding: 16px 72px 16px 20px;
        &::after{
            content: url(./../img/down-arrow-select.svg);
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            right: 20px;
            pointer-events: none;
            transition: all .3s;
            transform-origin: center;
        }
    }
}


.select-group__dropdown-btn.active.select-group__dropdown-btn::after{
    top: 48%;
    transform: translateY(-50%) rotate(180deg);
}

.select-dropdown__list{
    display: none;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    width: 155px;
    z-index: 2;
    &-item{
        cursor: pointer;
        transition: all .2s ease-in-out;
        color: #333;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        padding: 10px 10px;
        white-space: nowrap;
        &:hover{
            background: rgba(0, 215, 255, .1);
        }
    }
    &--visible{
        display: block;
    }
}

.select-dropdown__input-hidden{
    display: none;
}

.burger{
    position: relative;
    display: none;
    width: 20px;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);

    span:nth-child(3){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    span{
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
    }
    &.active{
        span:nth-child(1){
            opacity: 0 !important;
            -khtml-opacity:	0 !important;
            -moz-opacity:	0 !important;
        }
        span:nth-child(2){
            transform: rotate(45deg);
        }
        span:nth-child(3){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        span:nth-child(4){
            opacity: 0;
        }
    }
}

.swiper-pagination-bullet{
    background-color: #3A4042 !important;
}

.swiper-pagination-bullet-active{
    background-color:#00D7FF !important;
}

.popup-wrapper{
    position: sticky;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    justify-self: center;
    height: 100%;
    width: 100%;
    &--help{
        position: absolute;
        top: 65%;
    }
}

.popup-wrapper.active{
    display: flex;
}

.popup-inner{
    display: none;
    input{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 100px;
        border: 1px solid #AFAFAF;
        background: transparent;
        padding: 5px 32px 5px 16px;
        outline: none;
        min-height: 32px;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        transition: all .3s;
        &:focus, &:hover, &:active{
            border: 1px solid #FFF;
        }
    }
}


.popup-inner.active{
    display: block;
}

.popup-container{
    position: relative;
    padding: 30px;
    border-radius: 12px;
    background: #1C1C1C;
    width: 550px;
    min-height: 533px;
}


.popup__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}

.popup__subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.input-popup-title{
    color: #AFAFAF;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
}

.select-group-popup__dropdown-btn{
    width: 100%;
    padding: 0;
    text-align: left;
    padding: 5px 32px 5px 16px;
    border: 1px solid #AFAFAF;
    margin-bottom: 16px;
    max-height: 32px;
    position: relative;
    display: block;
    white-space: nowrap;
    color: #AFAFAF;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    border-radius: 100px;
    border: 1px solid #FFF;
    &::after{
        content: url(./../img/down-arrow-select.svg);
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        right: 20px;
        pointer-events: none;
        transition: all .3s;
        transform-origin: center;
    }
}

.secelt-group-popup__dropdown{
    position: relative;
}

.select-dropdown-popup__list{
    width: 100%;
    top: 32px;
    left: 0;
    background: #40484C;
    li{
        color: #F2F2F2;
        text-align: left;
        padding: 6px 16px;
        margin-top: 8px;
        &:hover{
            background: rgba(0, 215, 255, 0.10);
        }
        &:last-child{
            margin-bottom: 8px;
        }
    }
}


.select-group-popup__dropdown-btn.show.select-group-popup__dropdown-btn::after{
    top: 48%;
    transform: translateY(-50%) rotate(180deg);
}

.select-dropdown-popup__list{
    display: none;
    position: absolute;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    top: 32px;
    width: 488px;
    z-index: 2;
    &-item{
        cursor: pointer;
        transition: all .2s ease-in-out;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        padding: 10px 10px;
        white-space: nowrap;
        &:hover{
            background: rgba(0, 215, 255, .1);
        }
    }
    &.show-list{
        display: block;
    }
}

.select-dropdown-popup__input-hidden{
    display: none;
}


.select-group-popup-help__dropdown-btn{
    width: 100%;
    padding: 0;
    text-align: left;
    padding: 5px 32px 5px 16px;
    border: 1px solid #AFAFAF;
    margin-bottom: 16px;
    max-height: 32px;
    position: relative;
    display: block;
    white-space: nowrap;
    color: #AFAFAF;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    border-radius: 100px;
    border: 1px solid #FFF;
    &::after{
        content: url(./../img/down-arrow-select.svg);
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        right: 20px;
        pointer-events: none;
        transition: all .3s;
        transform-origin: center;
    }
}

.secelt-group-popup-help__dropdown{
    position: relative;
}

.select-dropdown-popup-help__list{
    width: 100%;
    top: 32px;
    left: 0;
    background: #40484C;
    li{
        color: #F2F2F2;
        text-align: left;
        padding: 6px 16px;
        margin-top: 8px;
        &:hover{
            background: rgba(0, 215, 255, 0.10);
        }
        &:last-child{
            margin-bottom: 8px;
        }
    }
}


.select-group-popup-help__dropdown-btn.active.select-group-popup__dropdown-btn::after{
    top: 48%;
    transform: translateY(-50%) rotate(180deg);
}

.select-dropdown-popup-help__list{
    display: none;
    position: absolute;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    top: 32px;
    width: 488px;
    z-index: 2;
    &-item{
        cursor: pointer;
        transition: all .2s ease-in-out;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        padding: 10px 10px;
        white-space: nowrap;
        &:hover{
            background: rgba(0, 215, 255, .1);
        }
    }
    &--visible{
        display: block;
    }
}

.select-dropdown-popup-help__input-hidden{
    display: none;
}

.popup-close{
    position: absolute;
    top: 40px;
    right: 30px;
    transition: transform .3s;
    &:hover{
        transform: rotate(35deg);
    }
}

.main__page-label-wrapper--popup{
    margin-bottom: 60px;
}

.main__page-label-wrapper--popup .main-page__label{
    top: 0;
}

.popup-btns{
    display: flex;
    gap: 18px;
    justify-content: flex-end;
}

.popup-btn-send{
    color: #FFF;
    background: #002875;
    cursor:no-drop;
    &:hover{
        background-color: #003395;
    }
    &:active{
        background-color: #003FBA;
    }
}

.popup-send{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 18px;
    margin-top: 150px;
    svg{
        margin: 0 auto;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
    }
    &__subtitle{
        white-space: nowrap;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }
}

.popup-send.active{
    display: flex;
}

.input-popup-info{
    color: #AFAFAF;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 30px;
    max-width: 236px;
}

.input-popup-area{
    background: transparent;
    outline: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    border-radius: 14px;
    border: 1px solid #AFAFAF;
    width: 100%;
    resize: none;
    height: 95px;
    padding: 12px 16px;
    margin-bottom: 16px;
}

.input-popup-area.active{
    border: 1px solid #DE0808;
}

.textarea-error{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    &-text{
        color: #DF0000;
        font-size: 12px;
        font-weight: 400;
        line-height: 100%;
    }
}

.textarea-error.active{
    display: flex;
}

.input-file-wrapper{
    border-radius: 14px;
    border: 2px dashed #AFAFAF ;
    padding: 38px 16px;
    margin-bottom: 16px;
}

.input-file{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file-label{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.input-file-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    max-width: 333px;
    pointer-events: none;
}

.input-file-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 25px;
    background:#F2F2F2;
    padding: 0 12px;
    cursor: pointer;
}
