.header{
    padding: 20px 0;
    background-color: $header-bg;
    color: #fff;
    width: 100%;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    &-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 30px;
        &-item{
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            &:not(:last-child){
                @include header-hover-link
            }
            &--languages{
                display: none;
            }
            &--select{
                &::before{
                    display: none;
                }
            }
        }
    }
    &__logo{
        position: relative;
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
    }
    &__select{
        border: none;
        outline: none;
        background-color: transparent;
        color: red;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        // color: inherit;
        &-item{
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: inherit;
        }
    }
}
